.c-about__table-head {
  width: 32.7%;
  color: #fff;
  font-size: rem(13);
  font-weight: normal;
  border: none;
  padding-top: rem(14);
  padding-bottom: rem(11);
  padding-left: rem(4);
  @include mq() {
    font-size: rem(16);
    width: 13.4%;
    padding-left: 0;
    padding-top: rem(23);
  }
}
