.c-about-table-data {
  font-size: rem(13);
  border: none;
  color: #fff;
  padding-top: rem(14);
  padding-bottom: rem(17);
  padding-left: rem(4);
  padding-right: 0;
  line-height: rem(23);
  @include mq(tab) {
    font-size: rem(16);
    letter-spacing: rem(1);
    padding-top: rem(24);
    padding-bottom: rem(26);
  }
}
