.c-btn {
  position: relative;
  display: inline-block;
  width: 100%;
  max-width: rem(334);
  letter-spacing: rem(2);
  padding: rem(10);
  padding-top: rem(8);
  padding-bottom: rem(7);
  border: 1px solid #ffffff;
  background: #333333;
  font-size: rem(20);
  text-align: center;
  transition: ease 0.3s;

  @include mq(tab) {
    max-width: rem(360);
    padding-top: rem(16);
    padding-bottom: rem(16);
    font-weight: 500;
    font-size: rem(16);
  }
}

.c-btn span {
  position: relative;
  z-index: 3;
  color: #ffffff;
}

.c-btn:hover span {
  color: #333333;
}

.c-btn--bgleft:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  background: #ffffff;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  content: "";

  transform-origin: right top;
}

.c-btn--bgleft:hover:before {
  transform: scale(1, 1);

  transform-origin: left top;
}

.c-btn__text {
  display: inline;

  @include mq() {
    font-size: rem(20);
  }
}

.c-btn--bgleft:hover > .c-btn__text {
  display: none;
}

.c-btn__hover {
  display: none;
}

.c-btn--bgleft:hover > .c-btn__hover {
  display: inline;
}
