.c-blog-card {
  display: block;
  margin-bottom: rem(24);

  @include mq(tab) {
    width: 100%;
  }
}
.c-blog-card:last-child {
  margin-bottom: rem(0);

  @include mq(tab) {
    margin-right: rem(0);
  }
}

.c-blog-card__img {
  background: #ffffff;
}
.c-blog-card__thumb {
  width: 100%;
}
.c-blog-card__contents {
  padding: rem(4) rem(24) rem(15) rem(23);
  background: #ffffff;

  @include mq() {
    padding: rem(4) rem(22) rem(16) rem(26);
  }
}
.c-blog-card__contents:hover {
  background: #333333;
  transition: 0.6s all;

  .c-blog-card__title {
    color: #ffffff;
    transition: 0.6s;
  }
  .c-blog-card__text {
    color: #ffffff;
    transition: 0.6s;
  }
  .c-blog-card__time {
    color: #ffffff;
    transition: 0.6s;
  }
}
.c-blog-card__body {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: rem(4) rem(23) rem(9);
  text-align: left;

  flex-direction: column;
  @include mq(tab) {
    padding: 0;
  }
}
.c-blog-card__title {
  max-width: rem(322);
  line-height: 1.9;
  letter-spacing: 1px;
  margin-left: rem(-1);
  color: #000000;
  font-weight: 500;
  font-size: rem(18);
}
.c-blog-card__item {
  display: flex;
  justify-content: space-between;
  max-width: rem(322);
  margin: rem(7) auto 0;

  @include mq() {
    padding: 0;
    margin-top: rem(12);
  }
}
.c-blog-card__category {
  line-height: 1;
  letter-spacing: 0.07em;
  padding: rem(5) rem(3) rem(3) rem(5);
  background: #efdb2a;
  color: $Black;
  font-size: rem(14);
}
.c-blog-card__time {
  margin-right: rem(-1);
  color: #000000;
}
