.c-blog-head{
    margin-bottom: rem(22);
    text-align: left;
    @include mq(tab){
        margin-bottom: rem(30);
        text-align: left;
    }
}
.c-blog-head .c-news-DateCat{
    margin-top: rem(0) !important;
    margin-bottom: rem(0) !important;
    @include mq(tab){
        margin-top: rem(22);
    }
    .c-news-DateCat__date{
        margin-right: rem(22);
        font-size: rem(18);
    }
    .c-news-DateCat__category{
        font-size: rem(20);
        padding: rem(3) rem(17);
    }
}



.c-blog-head__title{
    font-size: rem(20);
    font-weight: 400;
    line-height: rem(35);
    letter-spacing: 0.02em;
    margin-top: rem(65);
    margin-bottom: rem(16);
    @include mq(tab){
        font-size: rem(23);
        margin-top: rem(78);
        margin-bottom: rem(33);
    }
}
.c-blog-eyeCatch{
    margin: 0 calc(50% - 50vw);
    width: 100vw;   
    margin-top: rem(16);
    margin-bottom: rem(24);
    @include mq(tab){
        margin-top: rem(31);
        margin-bottom: rem(32);
    }
}
.c-blog-eyeCatch img{
    @include mq(tab){
        max-width: rem(800);
        width: 100%;
        margin: 0 auto;
    }
}
.c-blog-head__body{
    font-size: rem(16);
    line-height: rem(35);
    letter-spacing: 0.4px;
}

.c-blog-head .c-news-DateCat{
    margin-top: rem(38);
    margin-bottom: rem(32);
}

.c-blog-body{
    text-align: left;
}
.c-blog-body__title h3{
    margin-bottom: rem(24);
    font-size: rem(20);
    font-weight: 400;
    border-left: 3px solid #C4C4C4;
    padding-left: rem(9);
    letter-spacing: 0.07em;
    @include mq(tab){
        margin-bottom: rem(35);
    }
}
.c-blog-body__title p{
    line-height: 2.2;
    font-size: rem(16);
    font-weight: 400;
    letter-spacing: 0.4px;
    margin-bottom: rem(22);
    @include mq(tab){
        line-height: 2.0;
        margin-bottom: rem(36);
    }
}
.c-blog-body__subtitle h3{
    font-size: rem(17);
    letter-spacing: 0.04em;
    font-weight: 400;
    margin-bottom: rem(24);
    padding-left: rem(8);
    @include mq(tab){
        font-size: rem(19);
        font-weight: 400;
        margin-bottom: rem(33);
        padding-left: rem(8);
    }
}
.c-blog-body__subtitle span{
    border-bottom: 3px solid #C4C4C4;
    position: relative;
}
.c-blog-body__subtitle span::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    width: 70px;
    height: inherit;
    border-bottom: 3px solid #FFEA2E;
}
.c-blog-body__subtitle p{
    font-size: rem(16);
    font-weight: 400;
    letter-spacing: 0.4px;
    margin-bottom: rem(24);
    line-height: 2.2;
    @include mq(tab){
        font-size: rem(16);
        font-weight: 400;
        letter-spacing: 0.4px;
        margin-bottom: rem(36);
        line-height: 2.0;
    }
}
.bullet-list{
    margin-bottom: rem(24);
    @include mq(tab){
        margin-bottom: rem(32);
    }
}
.bullet-list li{
    // list-style: initial;
    // list-style-position: inside;
    line-height: rem(35);
    letter-spacing: 0.1px;
}
.number-list li{
    list-style-type: decimal;
    list-style-position: inside;
    line-height: rem(35);
    letter-spacing: 0.4px;
}
.blog-body__body{
    margin-bottom: rem(22);
}
.p-blog-detail .c-pagination{
    padding-top: rem(58) !important;
    @include mq(tab){
        padding-top: rem(79) !important;
    }
}