.c-business-item {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include mq(tab){
        flex-direction: row;
        justify-content: flex-start;
    }
}

.c-business-item--reverse {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include mq(tab){
        flex-direction: row-reverse;
        justify-content: flex-start;
    }
}

.c-business-item__img {
    max-width: 100%;
    width: 100%;
    position: relative;
    @include mq(){
        max-width: 50%;
        width: 100%;
    }
}

.c-business-item__img:before {
    content: "";
    display: block;
    padding-top: 66.7%;
}

.c-business-item__img source {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.c-business-item__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.c-business-item .c-business-item__img {
    @include mq(tab){
        margin-right: rem(30);
    }
}
.c-business-item--reverse .c-business-item__img {
    @include mq(tab){
        margin-left: rem(30);
    }
}

.c-business-item__wrap {
    margin-top: rem(24);
    @include mq(tab){
        margin-top: rem(10);
        max-width: 50%;
    }
}

.c-business-item__body{
    width: 100%;
    margin-top: rem(24);
    padding: 0 rem(20);
    color: #ffffff;
    @include mq(tab){
        width: 50%;
        text-align: left;
    }
}
.c-business-item__title{
    font-size: rem(25);
    text-align: center;
    @include mq(tab){
        font-size: rem(20);
        text-align: left;
    }
}
.c-business-item__text{
    font-size: rem(16);
    padding-top: rem(24);
    line-height: rem(23.17);
    letter-spacing: rem(2);
    text-align: left;
    @include mq(tab) {
        padding-top: rem(40);
        line-height: rem(35);
        letter-spacing: rem(.5);
    }
}