._c-btn-article {
  max-width: rem(1100);
  width: 100%;
  margin: auto;
  background: #333333;
  border: 1px solid #ffffff;
  color: #ffffff;
  text-align: center;
}

.l-btn-article {
  padding: rem(10);
}

.c-btn-article-text {
  display: inline-block;
  padding: rem(10) 0;
  line-height: 1;
}