.c-blog-head{
    margin-bottom: rem(24);
}
.c-blog-head__title{
    font-size: rem(20);
    font-weight: 400;
    line-height: rem(35);
    letter-spacing: 0.4;
}

.c-blog-eyeCatch{
    margin: rem(16) 0 rem(24) 0;
}

.c-blog-head__body{
    font-size: rem(16);
    line-height: rem(35);
    letter-spacing: 0.4;
}