.c-blog-card {
  margin-bottom: rem(24);

  @include mq(tab) {
    width: 100%;
  }
}
.c-blog-card:last-child {
  margin-bottom: rem(0);

  @include mq(tab) {
    margin-right: rem(0);
  }
}

.c-blog-card__img {
  background: #ffffff;
}
.c-blog-card__contents {
  padding: 0 0 rem(17.4) 0;
  background: #ffffff;
}
.c-blog-card__contents:hover {
  background: #333333;
  transition: 0.6s all;

  .c-blog-card__title {
    color: #ffffff;
    transition: 0.6s;
  }
  .c-blog-card__text {
    color: #ffffff;
    transition: 0.6s;
  }
  .c-blog-card__time {
    color: #ffffff;
    transition: 0.6s;
  }
}

.c-blog-card__title {
  max-width: rem(322);
  line-height: 1.9;
  letter-spacing: 1px;
  color: #000000;
  font-weight: 500;
  font-size: rem(18);
}
.c-blog-card__text {
  max-width: rem(322);
  line-height: rem(26);
  letter-spacing: 1px;
  margin-top: rem(4);
  color: #000000;
  font-size: rem(14);

  @include mq() {
    margin-top: rem(7);
  }
}
.c-blog-card__item {
  display: flex;
  justify-content: space-between;
  max-width: rem(322);
  padding: 0 rem(16) 0 rem(14);
  margin: auto;

  @include mq(tab) {
    padding: 0;
  }
}
.c-blog-card__category {
  line-height: 1;
  letter-spacing: rem(1);
  padding: rem(4) rem(6);
  background: #efdb2a;
  color: #333333;
  font-size: rem(14);
}
.c-blog-card__time {
  letter-spacing: rem(1);
  color: #000000;
  font-size: rem(14);
}
