.c-btn {
  position: relative;
  display: inline-block;
  max-width: rem(334);
  width: 100%;
  text-align: center;
  padding: rem(10);
  border: 1px solid #fff;
  font-size: rem(20);
  letter-spacing: rem(2);
  transition: ease .3s;
  background: #333;
  @include mq(lg) {
    max-width: rem(360);
    font-size: rem(16);
    font-weight: 500;
  } 
}

.c-btn span {
  position: relative;
  z-index: 3;
  color: #fff;
}

.c-btn:hover span {
  color: #333;
}

.c-btn--bgleft:before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  z-index: 2;
  background: #fff;
  width: 100%;
  height: 100%;
  transition: transform .6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  transform: scale(0, 1);
  transform-origin: right top;
}

.c-btn--bgleft:hover:before {
  transform-origin: left top;
  transform: scale(1,1);
}