.c-btn-pageTop {
    position: fixed;
    right: rem(30);
    bottom: rem(30);
    width: rem(45);
    height: rem(45);
    background-color: #fff;
    transition: background-color .3s;
}

.c-btn-pageTop:hover {
    background-color: #333;
}

.c-btn-pageTop:before{
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-25%) rotate(-45deg);
    width: rem(24);
    height: rem(24);
    border: 2px solid #333;
    border-color: #333 #333 transparent transparent;
    border-radius: 2px;
    transition: border-color .3s;
}

.c-btn-pageTop:hover:before {
    border-color: #fff #fff transparent transparent;
}

#pageTop {
    opacity: 0;
    transform: translateY(100px);
}

#pageTop.UpMove {
    animation: UpAnime 0.5s forwards;
}
@keyframes UpAnime {
    from {
        opacity: 0;
        transform: translateY(100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

#pageTop.DownMove {
    animation: DownAnime 0.5s forwards;
}
@keyframes DownAnime {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 1;
        transform: translateY(100px);
    }
}
