._c-btn-article {
  width: 100%;
  max-width: rem(1100);
  margin: auto;
  border: 1px solid #ffffff;
  background: #333333;
  color: #ffffff;
  text-align: center;
}

.c-btn-article-text {
  display: inline-block;
  line-height: 1;
  padding: rem(10) 0;
}
