.c-drawer__item a {
  display: block;
  width: 100%;
  margin-bottom: rem(24);
  font-size: rem(15);
  letter-spacing: 0.04em;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  line-height: 1;
}
