.c-header__item {
  display: flex;
  align-items: center;
  font-size: rem(16);
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
  height: inherit;
  margin-right: rem(30);
}

.c-header__item:not(:last-of-type) {
  margin-right: rem(29.5);
}
.c-header__item:last-of-type {
  margin-right: 0;
  padding: 0 rem(30) 0 rem(32);
  background: #fff;
  color: #333;
}

.c-header__item a {
  display: flex;
  align-items: center;
  position: relative;
  text-decoration: none;
  height: inherit;
}

.c-header__item a::after {
  content: "";
  position: absolute;
  left: rem(-1);
  bottom: rem(8);
  width: 100%;
  height: rem(1);
  background: #ffea2e;
  transform: scale(0, 1);
  transform-origin: left;
  transition: 0.3s;
}
.c-header__item a:hover::after {
  transform: scale(1);
}

.c-header__logo {
  height: rem(30);
  z-index: 9999;
}

.c-header__logo img {
  @include mq() {
    height: rem(35);
  }
}
