.c-hamburger {
  z-index: 9999;

  @include mq(tab) {
    display: none;
  }
}

.c-hamburger span {
  position: relative;
  display: block;
  width: rem(26);
  height: rem(2);
  border-radius: rem(1);
          transition: ease 0.3s;

  background: $background;
  -webkit-transition: ease 0.3s;
}

.c-hamburger span:nth-child(1) {
  top: 0;
}

.c-hamburger span:nth-child(2) {
  margin: rem(4) 0 rem(5);
}

.c-hamburger span:nth-child(3) {
  top: 0;
}
/*OPEN時の動き*/
.c-hamburger.is-open span {
  width: rem(22);
}
.c-hamburger.is-open span:nth-child(1) {
  top: rem(11);
  right: rem(-7);
          transform: rotate(45deg);

  -webkit-transform: rotate(45deg);
}

.c-hamburger.is-open span:nth-child(2) {
          transform: translateY(-50%);
  opacity: 0;

  -webkit-transform: translateY(-50%);
}

.c-hamburger.is-open span:nth-child(3) {
  top: rem(-2);
  right: rem(-7);
          transform: rotate(-45deg);

  -webkit-transform: rotate(-45deg);
}
