.c-more-btn {
  position: relative;
  display: none;
  min-width: 132px;
  text-align: center;

  @include mq() {
    display: inline-block;
    padding: rem(3) rem(26) rem(2) rem(29);
    background: $White;
    font-size: rem(16);
    transition: all 0.3s;
  }
}

.c-more-btn__text {
  position: relative;
  z-index: 3;
  color: $Sub-color;
}

.c-more-btn:hover .c-more-btn__text {
  color: $White;
}

.c-more-btn--bgleft:before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  background: $Sub-color;
  transition: transform 0.6s cubic-bezier(0.8, 0, 0.2, 1) 0s;
  content: "";

  transform-origin: right top;
}

.c-more-btn--bgleft:hover:before {
  transform: scale(1, 1);

  transform-origin: left top;
}
