.c-news-information {
  display: inline-block;
  text-align: left;

  @include mq(tab) {
    display: flex;
    align-items: center;
  }
}

.c-news-information__text a {
  display: block;
  margin-bottom: rem(14);
  color: #ffffff;
  transition: all 0.3s;

  @include mq(tab) {
    width: 100%;
    max-width: rem(570);
    margin-bottom: 0;
  }
}

.p-news-information__text:hover {
  color: #f9f871;
  transition: all 0.3s;
}

.c-news-information__category {
  padding: rem(4) rem(21) rem(2) rem(20);
  border: 1px solid #ffffff;
  color: #ffffff;
  font-size: rem(14);

  white-space: nowrap;
  @include mq() {
    padding-bottom: rem(5);
    margin-right: rem(61);
  }
}

.c-news-information__date {
  margin-right: rem(26);
  color: #ffffff;

  @include mq() {
    margin-right: rem(45);
  }
}
