.c-news__infomation {
  display: inline-block;
  white-space: nowrap;
  margin-bottom: rem(16);
  text-align: left;
  @include mq(tab){
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: rem(30);
  }
}
