.c-news-infomation__category {
  color: #fff;
  padding: rem(4) rem(21) rem(2) rem(20);
  border: 1px solid #fff;
  font-size: rem(14);
  white-space: nowrap;

  @include mq() {
    margin-right: rem(61);
    padding-bottom: rem(5);
  }
}
