.c-news-infomation__text a {
  color: #fff;
  margin-bottom: rem(14);
  display: block;
  transition: all 0.3s;
  @include mq(tab) {
    margin-bottom: 0;
    max-width: rem(570);
    width: 100%;
  }
}

.c-news-infomation__text:hover {
  transition: all 0.3s;
  color: #f9f871;
}
