.c-oblique-line {
  position: relative;
  width: 100%;
}

.c-oblique-line::before {
  position: absolute;
  top: rem(457.8);
  z-index: 0;
  z-index: -1;
  width: 100%;
  height: 2px;
  transform: skewY(61.1deg);
  background-color: $Yellow;
  content: "";

  @include mq() {
    top: rem(724);
    transform: skewY(45deg);
  }
}
