.c-pagination__all{
    border: 1px solid #ffffff;
    // padding-left: rem(20);
    // padding-right: rem(20);
    margin-left: rem(43);
    margin-right: rem(43);
    letter-spacing: 0.2em;
    @include mq(tab){
        margin-left: rem(55);
        margin-left: rem(55);
    }
}