body {
    margin: 0;
    padding: 0;
  }
  
  /* slide-box */
  
  .slide-box {
    position: relative;
    margin: 0;
    padding: 0;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  
  /* slide */
  
  .slide {
    position: relative;
    margin: 0;
    padding: 0;
    height: 227px;
    @include mq(){
        height: 427px;
    }
  }
  .slide .item {
    position: relative;
    height: 100%;
  }
  .slide .item a {
    display: block;
  }
  .slide .item::before {
    display: block;
    padding-top: 27%;
    content: "";
  }
  .slide .item .image {
    position: relative;
    overflow: hidden;
  }
  .slide .item img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
  }
  .slide > .slick-list,
  .slide > .slick-list > .slick-track,
  .slide > .slick-list > .slick-track > .slick-slide > div {
    position: relative;
    height: 100%;
  }
  
  /* slide-navigation */
  
  .slide-navigation {
    line-height: 0;
    position: relative;
    margin: 40px 0 0 0;
    padding: 0;
  }
  .slide-navigation .item {
    position: relative;
    cursor: pointer;
    width: 100px;
    height: 160px;
    @include mq(){
        height: 75px;
    }
  }
  .slide-navigation .item .image {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }
  .slide-navigation .item .image::before {
    display: block;
    // padding-top: 35%;
    content: "";
  }
  .slide-navigation .item .image::after {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 0.5;
    background: #000;
  }
  .slide-navigation .slick-current .image::after {
    opacity: 0;
  }
  .slide-navigation .item .image {
    position: relative;
    overflow: hidden;
  }
  .slide-navigation .item .image img {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    width: 100%;
  }
  
  @media screen and (max-width: 767px) {
    .slide-navigation {
      width: 100%;
    }
  }
  
  /* slick */
  
  .slick-vertical .slick-slide {
    border: 0 solid transparent;
  }
  .slick-arrow {
    z-index: 999;
  }
  .slick-prev, .slick-next {
    width: 50px !important;
    height: 50px !important;
    background: #111111 !important;
    display: block;
    border-radius: 50%;
  }
  .slick-prev{
    top: -400px !important;
    bottom: 0;
    left: 10px !important;
    right: auto;
    margin: auto;
    position: relative;
    @include mq(){
        top: -500px !important;
        left: 25px !important;
    }
  }
  .slick-prev::before,
  .slick-prev::after{
      content: "" !important;
      display: block;
      width: 25px;
      height: 3px;
      background: #FFEA2E;
      position: absolute;
      opacity: 1 !important;
    }
    .slick-prev::before{
      transform: rotate(-45deg);
      top: 15px;
      left: 10px;
    }
    .slick-prev::after{
        transform: rotate(45deg);
        top: 31px;
        left: 10px;
    }


    .slick-next {
        top: -400px !important;
        bottom: 0;
        right: 30px !important;
        right: auto;
        margin: auto;
        position: relative;
        @include mq(){
            top: -500px !important;
            right: 25px !important;
        }
    }
    .slick-next::before,
    .slick-next::after{
      content: "" !important;
      display: block;
      width: 25px;
      height: 3px;
      background: #FFEA2E;
      position: absolute;
      opacity: 1 !important;
    }
    .slick-next::before{
      transform: rotate(45deg);
      top: 15px;
      right: 10px;
    }
    .slick-next::after{
        transform: rotate(-45deg);
        top: 31px;
        right: 10px;
    }

.pc-only{
    display: none !important;
}
.sp-only{
    display: block !important;
}
@include mq(){
    .pc-only{
        display: block !important;
    }
    .sp-only{
        display: none !important;
    }
}