.c-section-title-gold {
  text-align: center;
  width: 100%;
  background: #111111;
}

.c-section-title-gold__img {
  display: inline-block;
  max-width: rem(205);
  width: 100%;
  @include mq(tab) {
    max-width: rem(436);
  }
}