//ギャラリー
.c-gallery {
  width: 100vw;
  margin: 0 calc(50% - 50vw);
  margin-top: rem(18);
  margin-bottom: rem(58);

  overflow: hidden;
  @include mq(tab) {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    margin-top: rem(40);

    overflow: hidden;
  }

  //メイン
  &-slider {
    position: relative;
    width: 100%;
    height: auto;
    margin: 0 0 34px 0;

    @include mq(tab) {
      margin: 0 0 43px 0;
    }

    .swiper-slide {
      width: auto;
      height: 250px;

      @include mq(tab) {
        width: auto;
        height: auto;
      }
      img {
        display: block;
        width: auto;
        height: 100%;
        margin: 0 auto;
        margin-top: rem(33);
        margin-bottom: rem(100);
        overflow: hidden;
        object-fit: cover;
      }
    }
  }

  //サムネイル
  &-thumbs {
    width: 100%;
    height: rem(160);
    padding: 0;

    overflow: hidden;
    @include mq(tab) {
      width: 100%;
      height: rem(90);
      padding: 0;
      overflow: hidden;
    }

    .swiper-slide {
      width: rem(160);
      height: rem(160);
      opacity: 0.1;
      text-align: center;

      overflow: hidden;
      @include mq(tab) {
        width: 100px;
        height: rem(90);
        opacity: 0.1;
        text-align: center;

        overflow: hidden;
        &-active {
          opacity: 1;
        }
      }
      &-active {
        opacity: 1;
      }

      img {
        width: auto;
        height: 100%;

        object-fit: cover;
      }
    }
  }
}

.pc-only {
  display: none !important;
}
.sp-only {
  display: block !important;
}
@include mq(tab) {
  .pc-only {
    display: block !important;
  }
  .sp-only {
    display: none !important;
  }
}

.swiper-button-prev{
    left: 20px !important;
    @include mq(tab){
        left: 25px !important;
    }
}
.swiper-button-next{
    right: 20px !important;
    @include mq(tab){
        right: 25px !important;
    }
}

.swiper-button-prev:after,
.swiper-button-next:after{
    font-size: 20px !important;
    @include mq(tab){
        font-size: 33px !important;
    }

}

.swiper-button-next::after,
.swiper-button-prev::after {
  padding: 10px 15px;
  border-radius: 50%;
  background: #111111;
  color: #ffea2e;

  @include mq(tab) {
    padding: 10px 20px;
  }
}
