//ギャラリー
.c-gallery {
    margin: 0 calc(50% - 50vw);
    width: 100vw;
    margin-top: rem(18);
    margin-bottom: rem(58);
    overflow: hidden;
    @include mq(tab){
        width: 100%;
        max-width: 800px;
        margin: 0 auto;
        margin-top: rem(33);
        margin-bottom: rem(100);
        overflow: hidden;
    }

    //メイン
    &-slider {
        width: 100%;
        height: auto;
        margin: 0 0 34px 0;
        position: relative;
        @include mq(tab){
            margin: 0 0 43px 0;
        }

        .swiper-slide {
            width: auto;
            height: 250px;
            @include mq(tab){
                width: auto;
                height: auto;
            }
            img {
                display: block;
                width: auto;
                height: 100%;
                margin: 0 auto;
            }
        }
    }
    
    //サムネイル
    &-thumbs {
        width: 100%;
        height: rem(160);
        padding: 0;
        overflow: hidden;
        @include mq(tab){
            width: 100%;
            height: rem(90);
            padding: 0;
            overflow: hidden;
        }

        .swiper-slide {
            width: rem(160);
            height: rem(160);
            text-align: center;
            overflow: hidden;
            opacity: 0.1;
            @include mq(tab){
                width: 100px;
                height: rem(90);
                text-align: center;
                overflow: hidden;
                opacity: 0.1;
                &-active {
                    opacity: 1;
                }
            }
            &-active {
                opacity: 1;
            }
            
            img {
                width: auto;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.pc-only{
    display: none !important;
}
.sp-only{
    display: block !important;
}
@include mq(tab){
    .pc-only{
        display: block !important;
    }
    .sp-only{
        display: none !important;
    }
}

.swiper-button-prev{
    left: 20px !important;
    @include mq(tab){
        left: 25px !important;
    }
}
.swiper-button-next{
    right: 20px !important;
    @include mq(tab){
        right: 25px !important;
    }
}

.swiper-button-prev:after,
.swiper-button-next:after{
    font-size: 20px !important;
    @include mq(tab){
        font-size: 33px !important;
    }
}

.swiper-button-next::after,
.swiper-button-prev::after{
    color: #FFEA2E;
    background: #111111;
    border-radius: 50%;
    padding: 10px 15px;
    @include mq(tab){
        padding: 10px 20px;
    }
}