.c-section-title {
  letter-spacing: rem(2);
  color: #ffffff;
  font-size: rem(20);
  text-align: center;

  @include mq(tab) {
    font-size: rem(30);
  }
}

.c-section-title__english {
  display: inline-block;
  letter-spacing: rem(2);
  font-weight: 400;
  font-size: rem(50);

  font-family: "Noto Serif JP";
  @include mq(tab) {
    font-size: rem(110);
  }
}
