.search{
    text-align: left;
}
.search__item{
    display: inline-block;
    padding: 5px 15px;
    margin-right: 20px;
    cursor: pointer;
    color: #fff;
    background-color: #111;
}
.search__item.is-active{
    color: #000;
    background-color: #fff;
}
.is-hide{
    display: none;
}