.c-top-about {
  @include mq(tab) {
    max-width: rem(1280);
    margin-right: auto;
    margin-left: auto;
  }
}

.c-top-about__wrap {
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #333333;

  flex-direction: column;
  @include mq(tab) {
    justify-content: flex-start;
    padding: rem(80) rem(90) rem(174);
    background: linear-gradient(
    90deg,
    #333333 0%,
    #333333 70%,
    transparent 30%,
    transparent 100%
    );

    flex-direction: row-reverse;
  }
}

.c-top-about__img {
  position: relative;
  width: 100%;
  max-width: 100%;

  @include mq(tab) {
    max-width: 50%;
  }
}

.c-top-about__img:before {
  display: block;
  padding-top: 69.6%;
  content: "";
}

.c-top-about__img source {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);

  object-fit: cover;
  object-position: center;
}

.c-top-about__img img {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  transform: translate(-50%, -50%);

  object-fit: cover;
  object-position: center;
}

.c-top-about__body {
  padding: rem(20);
  padding-top: rem(22);

  @include mq(tab) {
    padding-top: 0;
  }
}

.c-top-about-body__title {
  letter-spacing: rem(2);
  color: #ffffff;
  font-size: rem(20);
  text-align: center;

  @include mq(tab) {
    letter-spacing: 0.02em;
    font-size: rem(25);
    text-align: left;
  }
}

.c-top-about-body__text {
  line-height: 1.5;
  letter-spacing: rem(2);
  margin-top: rem(21);
  color: #ffffff;
  font-size: rem(16);

  @include mq(tab) {
    margin-top: rem(48);
  }
}

.c-top-about-body__btn {
  margin-top: rem(21);
  margin-right: rem(1);
  text-align: center;

  @include mq(tab) {
    margin-top: rem(48);
    text-align: left;
  }
}

.c-top-about-body__btn > .c-btn {
  padding-top: rem(8);
  padding-bottom: rem(8);
}
