.c-top-work__slider{
    width: 50%;
}
.c-top-work__text{
    width: 50%;
    color: #fff;
    padding: rem(40) 0 rem(40) rem(30);
}
.c-top-work__title{
    font-size: rem(25);
    margin-bottom: rem(50);
}
.c-top-work__body{
    font-size: rem(16);
    margin-bottom: rem(50);
}
.c-top-work__text .p-contact-section__btn{
    margin-right: auto;
    max-width: rem(360);
    width: 100%;
}
.c-top-work__textRev{
    width: 50%;
    color: #fff;
    padding: rem(40) 0 rem(40) rem(30);
    margin-right: rem(30);
    text-align: left;
}