.c-works__container {
    position: relative;
    max-width: rem(335);
    width: 100%;
    border: 1px solid #fff;
    @include mq() {
        max-width: rem(800);
    }
}

.c-works-container__head {
    position: absolute;
    top: -20px;
    left: 30px;
    padding: rem(4) rem(20);
    color: #fff;
    font-size: rem(20);
    letter-spacing: .04em;
    border: 1px solid #fff;
    border-radius: 32px;
    background: #000;
}

.c-works-container__text {
    display: inline-block;
    padding: rem(50) rem(10) rem(30);
    color: #fff;
    font-size: rem(16);
    letter-spacing: .04em;
    @include mq() {
        max-width: rem(800);
        padding: rem(40) rem(20) rem(30);
    }
}