<div class="l-footer p-footer">
  <div class="p-footer__wrapper">
    <a href="/index.html">
      <img
        src="../../images/common/CodeUps.svg"
        alt="フッターロゴ"
        title="CodeUpsロゴ"
    /></a>
    <ul class="p-footer__items c-footer-nav">
      <li class="c-footer-nav__item"><a href="/index.html">トップ</a></li>
      <li class="c-footer-nav__item"><a href="/news.html">お知らせ</a></li>
      <li class="c-footer-nav__item"><a href="/business.html">事業内容</a></li>
      <li class="c-footer-nav__item"><a href="/about.html">企業概要</a></li>
      <li class="c-footer-nav__item"><a href="/blog.html">ブログ</a></li>
      <li class="c-footer-nav__item">
        <a href="/contact.html">お問い合わせ</a>
      </li>
    </ul>
  </div>
  <small class="c-copyright">&copy; 2021 CodeUps Inc.</small>
</div>
