<div class="l-footer p-footer">
  <img src="../../images/common/CodeUps.svg" alt="footer-logo">
  <nav class="p-footer__items">
    <li class="c-footer__item">トップ</li>
    <li class="c-footer__item">お知らせ</li>
    <li class="c-footer__item">事業内容</li>
    <li class="c-footer__item">企業概要</li>
    <li class="c-footer__item">ブログ</li>
    <li class="c-footer__item">お問い合わせ</li>
  </nav>
  <small class="c-copyright">&copy; 2021 CodeUps Inc.</small>
</div>
