<header class="p-header">
  <div class="c-header__logo">
    <a href="/index.html">
      <img
        src="../../images/common/CodeUps.svg"
        alt="ヘッダーロゴ"
        title="CodeUpsロゴ"
      />
    </a>
  </div>
  <nav class="p-header-nav">
    <ul class="p-header-nav__items">
      <li class="c-header-nav__item">
        <a href="/news.html">お知らせ</a>
      </li>
      <li class="c-header-nav__item">
        <a href="/business.html">事業内容</a>
      </li>
      <li class="c-header-nav__item">
        <a href="/works.html">制作実績</a>
      </li>
      <li class="c-header-nav__item">
        <a href="/about.html">企業概要</a>
      </li>
      <li class="c-header-nav__item">
        <a href="/blog.html">ブログ</a>
      </li>
      <li class="c-header-nav__item c-header-nav__item--hover">
        <a href="/contact.html">
          <span class="c-header-nav__text">お問い合わせ</span>
        </a>
      </li>
    </ul>
  </nav>
  <div class="c-header-drawer c-hamburger js-hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="p-header__menu p-drawer js-drawer-menu">
    <ul class="p-drawer__items">
      <li class="c-drawer__item">
        <a class="c-drawer__item-link" href="/index.html">トップ</a>
      </li>
      <li class="c-drawer__item">
        <a class="c-drawer__item-link" href="/news.html">お知らせ</a>
      </li>
      <li class="c-drawer__item">
        <a class="c-drawer__item-link" href="/business.html">事業内容</a>
      </li>
      <li class="c-drawer__item">
        <a class="c-drawer__item-link" href="/works.html">制作実績</a>
      </li>
      <li class="c-drawer__item">
        <a class="c-drawer__item-link" href="/about.html">企業概要</a>
      </li>
      <li class="c-drawer__item">
        <a class="c-drawer__item-link" href="/blog.html">ブログ</a>
      </li>
      <li class="c-drawer__item">
        <a class="c-drawer__item-link" href="/contact.html">お問い合わせ</a>
      </li>
    </ul>
  </div>
</header>
