<header class="l-header p-header">
  <div class="c-header__logo">
    <img src="../../images/common/CodeUps.svg" alt="header-logo" />
  </div>
  <nav class="p-header__nav">
    <ul class="p-header__items">
      <li class="c-header__item"><a href="./news.html">お知らせ</a></li>
      <li class="c-header__item"><a href="#">事業内容</a></li>
      <li class="c-header__item"><a href="#">制作実績</a></li>
      <li class="c-header__item"><a href="#">企業概要</a></li>
      <li class="c-header__item"><a href="#">ブログ</a></li>
      <li class="c-header__item"><a href="#">お問い合わせ</a></li>
    </ul>
  </nav>
  <div class="p-header__drawer c-hamburger js-hamburger">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="p-header__menu p-drawer__menu js-drawer-menu">
    <ul class="p-drawer__items">
      <li class="c-drawer__item"><a href="#">トップ</a></li>
      <li class="c-drawer__item"><a href="./news.html">お知らせ</a></li>
      <li class="c-drawer__item"><a href="#">事業内容</a></li>
      <li class="c-drawer__item"><a href="#">制作実績</a></li>
      <li class="c-drawer__item"><a href="#">企業概要</a></li>
      <li class="c-drawer__item"><a href="#">ブログ</a></li>
      <li class="c-drawer__item"><a href="#">お問い合わせ</a></li>
    </ul>
  </div>
</header>
