.contact-section {
  background: #3D3D3D;
}

.contact-section__wrap {
  padding: rem(65) rem(20);
  text-align: center;
}

.contact-section__contents {
  position: relative;

  @include mq(tab) {
    width: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
  }
}

.contact-section__img {
  display: inline-block;
  max-width: rem(200);
  width: 100%;

  @include mq(tab) {
    position: absolute;
    left: 0;
    max-width: 32%;
    width: 100%;
    padding: 0 rem(30);
  }
}

.contact-section__title {
  font-size: rem(20);
  color: #fff;
  line-height: 0.7;
  padding: 0 0 rem(15) 0;

  @include mq(tab) {
    font-size: rem(30);
    line-height: 1;
    padding: 0 0 rem(5) 0;
  }
}

.contact-section__text {
  font-size: rem(16);
  color: #fff;
  max-width: rem(375);
  width: 100%;
  margin: auto;
  padding: rem(15) 0 rem(40) 0;

  @include mq(tab) {
    max-width: rem(710);
    width: 100%;
  }
}

.contact-section__btn-link {
  position: relative;
  border: 1px solid #ffffff;
  margin: auto;
  width: 360px;
  height: 60px;
  line-height: 60px;
  display: flex;
  text-align: center;
  background: #333333;
  font-size: rem(20);
  color: #ffffff;
  overflow: hidden;
}

.contact-section__btn-link:hover .btn-hover {
  left: 0;
  opacity: 1;
}

.btn-text {
  width: 100%;
  height: 100%;
  z-index: 10;
}

.btn-text:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  display: block;
  background: #ffffff;
  z-index: -1;
  transition: .3s;
}

.btn-text:hover {
  color: #333333;
}

.btn-text:hover:before {
  width: 100%;
}

.btn-hover {
  display: block;
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  display: block;
  background: #ffffff;
  z-index: 11;
  transition: .3s;
  color: #333333;
  opacity: 0;
}

