.p-about {
  background-color: $background;

  @include mq(tab) {
    margin-bottom: rem(88);
  }
}

.p-about__wrap {
  margin-top: rem(72);

  @include mq(tab) {
    margin-top: rem(106);
  }
}

.p-about-wrap__table {
  width: 100%;
  max-width: rem(375);
  padding: 0 rem(20);
  margin: 0 auto;

  @include mq(tab) {
    max-width: rem(1140);
  }
}

.p-about-wrap__map {
  padding-bottom: rem(120);
  margin-top: rem(118);

  @include mq(tab) {
    padding-bottom: rem(60);
    margin-top: rem(120);
  }
}
