.p-business__wrap {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include mq(){
        flex-direction: row;
        justify-content: flex-start;
    }
}

.p-business__wrap--reverse {
    display: flex;
    flex-direction: column;
    width: 100%;
    @include mq(){
        flex-direction: row-reverse;
        justify-content: flex-start;
    }
}

.p-business-wrap__img {
    max-width: 100%;
    width: 100%;
    position: relative;
    @include mq(){
        max-width: 50%;
        width: 100%;
    }
}

.p-business-wrap__img:before {
    content: "";
    display: block;
    padding-top: 66.7%;
}

.p-business-wrap__img source {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.p-business-wrap__img img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.p-business__wrap .p-business-wrap__img {
    @include mq(){
        margin-right: rem(30);
    }
}
.p-business__wrap--reverse .p-business-wrap__img {
    @include mq(){
        margin-left: rem(30);
    }
}