.p-blog-items {
  margin-top: rem(40);
    @include mq() {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  .p-blog__item{
    margin-bottom: rem(50);
  }

  .p-blog__item--new {
    position: relative;
    z-index: 9;
  }

  .p-blog__item--new::after {
    position: absolute;
    content: "";
    background: url(../images/common/blog_new.png) no-repeat;
    background-size: contain;
    width: rem(60);
    width: 100%;
    height: rem(60);
    top: rem(-15);
    left: rem(-15);
    z-index: 10;
  }