.p-blog-items {
  display: grid;
  margin: rem(16) auto 0;

  row-gap: rem(24);
  grid-template-columns: 1fr;
  @include mq(tab) {
    max-width: rem(1440);
    margin-top: rem(25.6);

    grid-template-columns: 1fr 1fr 1fr;
    column-gap: rem(25);
    row-gap: rem(48);
  }
}

.p-blog__item--new {
  position: relative;
  z-index: 9;
}

.p-blog__item--new::after {
  position: absolute;
  top: rem(-15);
  left: rem(-15);
  z-index: 10;
  width: rem(60);
  width: 100%;
  height: rem(60);
  background: url(../images/common/blog_new.png) no-repeat;
  background-size: contain;
  content: "";
}
