.p-business{
    background-color: #111111;
    padding-bottom: rem(120);
}

.p-business__wrap {
    margin-top: rem(85);
    @include mq(tab) {
        margin-top: rem(69);
    }
}

.p-business__items {
    margin: rem(80) 0 0 0;
    @include mq(tab) {
        max-width: rem(1080);
        width: 100%;
        padding: 0  rem(20);
        margin: rem(150) auto 0;
    }
}

.p-business-wrap__item {
    margin-top: rem(48);
    @include mq(tab) {
        margin-top: rem(104);
    }
}