.p-contact-form {
  background: #111111;
  color: #ffffff;

  @include mq(pc) {
    padding-bottom: rem(105);
  }
}

.p-contact-form__wrap {
  @include mq(pc) {
    width: 100%;
    max-width: rem(690);
    margin-right: rem(370);
    margin-left: auto;
  }
}

.p-contact-form__content {
  width: 100%;
  max-width: rem(600);
  padding: 0 rem(20);
  margin: auto;

  @include mq(pc) {
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    max-width: rem(730);
    padding: rem(22) 0;
  }
}

@include mq(pc) {
  .contact-box {
    align-items: flex-start;
  }
}

label {
  display: block;
  line-height: 1.7;
  padding: rem(32) rem(24) rem(16) 0;
  font-size: rem(14);

  @include mq(pc) {
    padding: 0 rem(24) 0 0;

    white-space: nowrap;
  }
}

.p-contact-form__input {
  width: 100%;
  max-width: rem(600);
  line-height: 1.9;
  padding: rem(8) rem(9) !important;
  font-size: rem(14);

  @include mq(pc) {
    width: 100%;
    max-width: rem(540);
    padding: rem(6) rem(16) !important;
  }
}

.p-contact-form__textarea {
  width: 100%;
  max-width: rem(600);
  line-height: 1.9;
  padding: rem(16) 0 rem(183) rem(4);
  font-size: rem(14);

  @include mq(pc) {
    width: 100%;
    max-width: rem(540);
    padding: rem(8) rem(16) rem(238);
  }
}

.content-form-btn {
  padding: rem(11) rem(150);
  border: 2px solid transparent;
  font-size: rem(16);
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;

  @include mq(pc) {
    padding: rem(14) rem(162);
  }
  white-space: nowrap;
}

.content-form-btn:hover {
  border: 2px solid currentColor;
  background: $background;
  color: $text-color;
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out;
}
