.p-contact-form {
  color: #ffffff;
  background: #111111;
}

.p-contact-form__content {
  max-width: rem(600);
  width: 100%;
  margin: auto;
  padding: 0 rem(20);
}

label {
  display: block;
}

input,
textarea {
  max-width: rem(600);
  width: 100%;
}

.l-content-form-btn {
  text-align: center;
  padding: rem(48) rem(20);
}

.content-form-btn {
  padding: rem(10) rem(147);
}








// .p-contact-form {
//   max-width: rem(1000);
//   margin: auto;
//   color: #fff;
//   background: pink;
// }

// .p-contact-form__wrap {
//   max-width: rem(800);
//   width: 100%;
//   margin: auto;
// }

// .p-contact-form__content {
//   display: flex;
//   justify-content: right;
//   align-items: center;
//   max-width: rem(710);
//   width: 100%;
// }

// .contact-box {
//   align-items: flex-start;
// }


// label {
//   white-space: nowrap;
//   padding: 0 rem(24) 0 0;
// }

// input,
// textarea {
//   max-width: rem(540);
//   width: 100%;
//   background: #ffffff;
// }