.p-contact-section {
  background: #3D3D3D;
}

.p-contact-section__wrap {
  padding: rem(40) rem(20) rem(60) rem(20);
  text-align: center;

  @include mq(tab) {
    padding: rem(150) rem(20);
  }
}

.p-contact-section__contents {
  position: relative;

  @include mq(tab) {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    max-width: rem(1280);
  }
}

.p-contact-section__logo {
  @include mq(tab) {
    position: absolute;
    left: 6%;
    top: rem(-68);
  }
}

.p-contact-section__title {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 86%;
  font-size: rem(25);
  letter-spacing: rem(2);
  color: #fff;
  line-height: 0.4;
  padding: 0 0 rem(15) 0;

  @include mq(tab) {
    font-size: rem(30);
    line-height: 1;
    padding: 0 0 rem(5) 0;

  }
}

.p-contact-section__heading {
  z-index: 1;
}

.p-contact-section__text {
  font-size: rem(16);
  color: #fff;
  max-width: rem(375);
  letter-spacing: rem(2);
  width: 100%;
  margin: auto;
  padding: rem(30) 0 rem(48) 0;
  text-align: left;
  line-height: rem(23);

  @include mq(tab) {
    max-width: rem(520);
    padding: rem(60) 0 rem(32) 0;
    width: 100%;
  }
}

.p-contact-section__btn-link {
  position: relative;
  border: 1px solid #ffffff;
  margin: 0 auto;
  max-width: 360px;
  display: flex;
  text-align: center;
  padding: rem(8) 0;
  background: #333333;
  font-size: rem(20);
  color: #ffffff;
  overflow: hidden;
  letter-spacing: rem(2);
  @include mq(tab) {
    padding: rem(18) 0;
    font-size: rem(16);
  }
}

.p-contact-section__btn-link:hover .btn-hover {
  left: 0;
  opacity: 1;
}

.btn-text {
  width: 100%;
  height: 100%;
  z-index: 10;
}

.btn-text:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  display: block;
  background: #ffffff;
  z-index: -1;
  transition: .3s;
}

.btn-text:hover {
  color: #333333;
}

.btn-text:hover:before {
  width: 100%;
}

.btn-hover {
  display: block;
  position: absolute;
  top: 0;
  left: -50%;
  width: 100%;
  display: block;
  background: #ffffff;
  z-index: 11;
  transition: .3s;
  color: #333333;
  opacity: 0;
}