.p-footer{
    background-color: #111111;
    text-align: center;
    padding: rem(48) rem(0);
    @include mq(){
        padding-left: rem(32);
        padding-right: rem(32);
    }
}

.p-footer__wrapper{
    @include mq(){
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: rem(75);
    }
    img {
        @include mq(){
            height: rem(38);
        }
    }
}

.p-footer__items{
    margin-top: rem(8);
    margin-bottom: rem(32);
    @include mq(){
        display: flex;
        margin-bottom: rem(0);
    }
}
