.p-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: rem(65);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 rem(20) 0 rem(15);
  z-index: 100;
  transition: all 0.5s;
  background: #111;
  @include mq() {
    padding: 0 rem(30);
  }
}
