.p-news {
  background-color: #111111;
}

.p-news__wrap {
  padding: rem(74) 0 0 0;
  max-width: rem(335);
  width: 95%;
  margin: 0 auto;
  @include mq(tab){
    padding: rem(58) 0 rem(150) 0;
    max-width: rem(865);
    width: 90%;
    margin: 0 auto;
  }
}
.p-news__item {
  margin-bottom: rem(36);

  @include mq(tab) {
    margin-bottom: rem(30);
  }
}

.p-news__article {
  @include mq() {
    display: flex;
  }
}
