.p-top-works__item {
  margin-top: rem(43);

  @include mq() {
    margin-top: rem(37);
  }
}

.p-top-works__title-wrap {
  @include mq() {
    position: absolute;
    top: rem(-31);
    right: 7%;
    z-index: -1;
  }
}
