.p-work-detail {
  padding-top: rem(70);
  padding-bottom: rem(150);
  background-color: #111111;
}

.p-work-detail__cards {
  display: flex;
  justify-content: center;
}

.p-work-detail__wrap {
  @include mq(tab) {
    width: 100%;
    max-width: rem(250);
    margin-right: rem(30);
  }
}
.p-work-detail__wrap:last-child {
  @include mq(tab) {
    margin-right: rem(0);
  }
}

.p-work-detail__layer {
  @include mq(tab) {
    width: 100%;
    max-width: rem(800);
    margin: 0 auto;
  }
}
