.p-work-detail__cards{
    display: flex;
    justify-content: center;
}

.p-work-detail__wrap{
    @include mq(tab){
        max-width: rem(250);
        width: 100%;
        margin-right: rem(30);
    }
}
.p-work-detail__wrap:last-child{
    @include mq(tab){
        margin-right: rem(0);
    }
}