.p-work-detail {
  padding-top: rem(50);
  padding-bottom: rem(150);
  background-color: #111111;
  @include mq(tab){
    padding-top: rem(70);
  }
}

.p-work-detail__cards {
  display: block;
  max-width: rem(335);
  width: 100%;
  margin: 0 auto;
  @include mq(tab){
    display: flex;
    justify-content: center;
    max-width: rem(1100);
    width: 95%;
    margin: 0 auto;
  }
}

.p-work-detail__wrap {
  @include mq(tab) {
    width: 100%;
    max-width: rem(250);
    margin-right: rem(30);
  }
}
.p-work-detail__wrap:last-child {
  @include mq(tab) {
    margin-right: rem(0);
  }
}

.p-work-detail__layer {
  max-width: rem(335);
  width: 100%;
  margin: 0 auto;
  @include mq(tab) {
    width: 100%;
    max-width: rem(800);
    margin: 0 auto;
  }
}
.p-work-detail__title{
  margin-top: rem(41);
  margin-bottom: rem(20);
  font-size: rem(20);
  @include mq(tab){
    margin-top: rem(50);
  }
}

.p-work-detail .c-news-DateCat__date{
  font-size: rem(17) !important;
  margin-right: rem(34) !important;
}
.p-work-detail .c-news-DateCat__category{
  font-size: rem(18) !important;
}
.p-work-detail .c-pagination__all{
  padding-left: rem(15) !important;
  padding-right: rem(15) !important;
}
