<a href="./blog-detail.html" class="c-blog-card">
  <div class="c-blog-card__img">
    <img
      class="c-blog-card__thumb"
      src="../../images/common/<%= img %>"
      alt=""
    />
  </div>

  <div class="c-blog-card__contents">
    <div class="c-blog-card__body">
      <p class="c-blog-card__title">タイトルが入ります。タイトルが入ります。</p>
      <p class="c-blog-card__text">
        説明文が入ります。説明文が入ります。説明文が入ります。
      </p>
    </div>
    <div class="c-blog-card__item p-card__item">
      <span class="c-blog-card__category">カテゴリ</span>
      <time class="c-blog-card__time" datetime="2021.07.20">2021.07.20</time>
    </div>
  </div>
</a>
