<ul class="c-blog-detail__list--disc">
    <li class="c-blog-detail__item"><%= item %></li>
    <li class="c-blog-detail__item"><%= item %></li>
    <li class="c-blog-detail__item"><%= item %></li>
    <li class="c-blog-detail__item"><%= item %></li>
</ul>