<div class="c-business__wrap--text">
    <h3 class="c-business__wrap--header">企業理念がはいります</h3>
    <p class="c-business__wrap--body">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
        テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
    </p>
</div>