<ul class="c-blog-detail__list--decimal">
    <li class="c-blog-detail__item"><%= item %></li>
    <li class="c-blog-detail__item"><%= item %></li>
    <li class="c-blog-detail__item"><%= item %></li>
    <li class="c-blog-detail__item"><%= item %></li>
</ul>