<div class="c-business-item--reverse">
    <picture class="c-business-item__img">
        <source srcset="../../images/common/<%= imgPc %>" media="(min-width: 756px)" /><!-- 756px以上で表示する画像 -->
        <img src="../../images/common/<%= imgSp %>" alt="企業概要"><!-- 756px以下で表示する画像 -->
    </picture>
    <div class="c-business-item__body">
        <h3 class="c-business-item__title"><%= title %></h3>
        <p class="c-business-item__text"><%= text %></p>
    </div>
</div>