<div class="c-breadcrumb-list">
  <ul class="c-breadcrumb-list__menu">
    <li class="c-breadcrumb-list__list">
      <a class="c-breadcrumb-list-link" href="">トップ&nbsp;&nbsp;</a>
    </li>
    <li class="c-breadcrumb-list__list">
      <a class="c-breadcrumb-list-link" href="">&nbsp;&nbsp;事業内容</a>
    </li>
  </ul>
</div>