<div class="c-blog-detail">
    <div class="c-blog-detail__wrap l-inner">
        <h1><%= title %></h1>

        <!-- ここにラベルコンポーネント入れる -->

        <picture>
            <source  srcset="../../images/common/blog-detail_pc.jpg" media="(min-width: 756px)"> 
            <img src="../../images/common/blog-detail_sp.jpg" alt="企業概要">
        </picture>

        <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>

        <h2>見出し２</h2>

        <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>

        <h3>見出し3見出し3見出し3</h3>

        <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>

        <picture>
            <source  srcset="../../images/common/blog-detail-02_pc.jpg" media="(min-width: 756px)"> 
            <img src="../../images/common/blog-detail-02_sp.jpg" alt="企業概要">
        </picture>

        <ul>
            <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
            <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
            <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
            <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
        </ul>

        <ul>
            <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
            <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
            <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
            <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
        </ul>

    </div>
</div>