<div class="c-company-philosophy--reverse">
    <picture class="c-company-philosophy__img">
        <source srcset="../../images/common/business_container_pc.jpg" media="(min-width: 756px)" /><!-- 756px以上で表示する画像 -->
        <img src="../../images/common/business_container_sp.jpg" alt="企業概要"><!-- 756px以下で表示する画像 -->
    </picture>
    <div class="c-company-philosophy__wrap">
        <%- include('./_c-company-philosophy-body.ejs',{title:'企業理念２',text:'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。'}) %>
    </div>
</div>