<div class="search">
    <span class="search__item is-active" data-group="">ALL</span>
    <span class="search__item" data-group="1">カテゴリ1</span>
    <span class="search__item" data-group="2">カテゴリ2</span>
    <span class="search__item" data-group="3">カテゴリ3</span>
</div>