<div class="c-news-infomation">
  <span class="c-news-infomation__date">2020.07.20 </span>
  <span class="c-news-infomation__category">カテゴリ2 </span>
  <a href="#" class="c-news-infomation__text">記事タイトルが入ります。記事タイトルが入ります。</a>
</div>
