<div class="c-pagination">
    <div class="c-pagination__prev">prev</div>
    <ul class="c-pagination__pages">
        <% for (var i=0; i < 4; i++) { %>
        <li class="c-pagination__page"><%=i+1%></li>
        <% } %>
    </ul>
    <div class="c-pagination__next">next</div>
</div>