<div class="c-pagination">
    <div class="c-pagination__wrap">
        <span class="c-pagination__prev">prev</span>
        <span class="c-pagination__all">一覧</span>
        <span class="c-pagination__next">next</span>
    </div>
</div>