<div class="c-gallery">
    <div class="swiper-container c-gallery-slider">
        <!-- メイン -->
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="../../images/common/swiper1.jpg" alt="1"></div>
            <div class="swiper-slide"><img src="../../images/common/swiper1.jpg" alt="1"></div>
            <div class="swiper-slide"><img src="../../images/common/swiper1.jpg" alt="1"></div>
            <div class="swiper-slide"><img src="../../images/common/swiper1.jpg" alt="1"></div>
            <div class="swiper-slide"><img src="../../images/common/swiper1.jpg" alt="1"></div>
            <div class="swiper-slide"><img src="../../images/common/swiper1.jpg" alt="1"></div>
            <div class="swiper-slide"><img src="../../images/common/swiper1.jpg" alt="1"></div>
            <div class="swiper-slide"><img src="../../images/common/swiper1.jpg" alt="1"></div>
            <div class="swiper-slide"><img src="../../images/common/swiper1.jpg" alt="1"></div>
        </div>
        <div class="swiper-wrapper">
            <div class="swiper-slide sp-only"><img src="../../images/common/swiper_sp1.jpg" alt="1"></div>
            <div class="swiper-slide sp-only"><img src="../../images/common/swiper_sp1.jpg" alt="1"></div>
            <div class="swiper-slide sp-only"><img src="../../images/common/swiper_sp1.jpg" alt="1"></div>
            <div class="swiper-slide sp-only"><img src="../../images/common/swiper_sp1.jpg" alt="1"></div>
            <div class="swiper-slide sp-only"><img src="../../images/common/swiper_sp1.jpg" alt="1"></div>
            <div class="swiper-slide sp-only"><img src="../../images/common/swiper_sp1.jpg" alt="1"></div>
            <div class="swiper-slide sp-only"><img src="../../images/common/swiper_sp1.jpg" alt="1"></div>
            <div class="swiper-slide sp-only"><img src="../../images/common/swiper_sp1.jpg" alt="1"></div>
            <div class="swiper-slide sp-only"><img src="../../images/common/swiper_sp1.jpg" alt="1"></div>
        </div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>

    <!-- サムネイル -->
    <div class="swiper-container c-gallery-thumbs">
        <div class="swiper-wrapper">
            <div class="swiper-slide"><img src="../../images/common/swiper1.jpg" alt="1"></div>
            <div class="swiper-slide"><img src="../../images/common/swiper1.jpg" alt="1"></div>
            <div class="swiper-slide"><img src="../../images/common/swiper1.jpg" alt="1"></div>
            <div class="swiper-slide"><img src="../../images/common/swiper1.jpg" alt="1"></div>
            <div class="swiper-slide"><img src="../../images/common/swiper1.jpg" alt="1"></div>
            <div class="swiper-slide"><img src="../../images/common/swiper1.jpg" alt="1"></div>
            <div class="swiper-slide"><img src="../../images/common/swiper1.jpg" alt="1"></div>
            <div class="swiper-slide"><img src="../../images/common/swiper1.jpg" alt="1"></div>
            <div class="swiper-slide"><img src="../../images/common/swiper1.jpg" alt="1"></div>
        </div>
    </div>
</div>