<div class="slide-box">
    <ul class="slide pc-only">
      <li class="item">
        <a href="#"><div class="swiper-slide pc-only"><img src="../../images/common/swiper1.jpg" alt="1"></div></a>
      </li>
      <li class="item">
        <a href="#"><div class="swiper-slide pc-only"><img src="../../images/common/swiper1.jpg" alt="1"></div></a>
      </li>
      <li class="item">
        <a href="#"><div class="swiper-slide pc-only"><img src="../../images/common/swiper1.jpg" alt="1"></div></a>
      </li>
      <li class="item">
        <a href="#"><div class="swiper-slide pc-only"><img src="../../images/common/swiper1.jpg" alt="1"></div></a>
      </li>
      <li class="item">
        <a href="#"><div class="swiper-slide pc-only"><img src="../../images/common/swiper1.jpg" alt="1"></div></a>
      </li>
      <li class="item">
        <a href="#"><div class="swiper-slide pc-only"><img src="../../images/common/swiper1.jpg" alt="1"></div></a>
      </li>
      <li class="item">
        <a href="#"><div class="swiper-slide pc-only"><img src="../../images/common/swiper1.jpg" alt="1"></div></a>
      </li>
      <li class="item">
        <a href="#"><div class="swiper-slide pc-only"><img src="../../images/common/swiper1.jpg" alt="1"></div></a>
      </li>
    </ul>

    <ul class="slide sp-only">
        <li class="item">
          <a href="#"><div class="swiper-slide sp-only"><img src="../../images/common/swiper_sp1.jpg" alt="1"></div></a>
        </li>
        <li class="item">
          <a href="#"><div class="swiper-slide sp-only"><img src="../../images/common/swiper_sp1.jpg" alt="1"></div></a>
        </li>
        <li class="item">
          <a href="#"><div class="swiper-slide sp-only"><img src="../../images/common/swiper_sp1.jpg" alt="1"></div></a>
        </li>
        <li class="item">
          <a href="#"><div class="swiper-slide sp-only"><img src="../../images/common/swiper_sp1.jpg" alt="1"></div></a>
        </li>
        <li class="item">
          <a href="#"><div class="swiper-slide sp-only"><img src="../../images/common/swiper_sp1.jpg" alt="1"></div></a>
        </li>
        <li class="item">
          <a href="#"><div class="swiper-slide sp-only"><img src="../../images/common/swiper_sp1.jpg" alt="1"></div></a>
        </li>
        <li class="item">
          <a href="#"><div class="swiper-slide sp-only"><img src="../../images/common/swiper_sp1.jpg" alt="1"></div></a>
        </li>
        <li class="item">
          <a href="#"><div class="swiper-slide sp-only"><img src="../../images/common/swiper_sp1.jpg" alt="1"></div></a>
        </li>
        
      </ul>
    <div class="slide-navigation">
      <div class="item">
        <figure class="image">
            <div class="swiper-slide"><img src="../../images/common/swiper1.jpg" alt="1"></div>
        </figure>
      </div>
      <div class="item">
        <figure class="image">
            <div class="swiper-slide"><img src="../../images/common/swiper1.jpg" alt="1"></div>
        </figure>
      </div>
      <div class="item">
        <figure class="image">
            <div class="swiper-slide"><img src="../../images/common/swiper1.jpg" alt="1"></div>
        </figure>
      </div>
      <div class="item">
        <figure class="image">
            <div class="swiper-slide"><img src="../../images/common/swiper1.jpg" alt="1"></div>
        </figure>
      </div>
      <div class="item">
        <figure class="image">
            <div class="swiper-slide"><img src="../../images/common/swiper1.jpg" alt="1"></div>
        </figure>
      </div>
      <div class="item">
        <figure class="image">
            <div class="swiper-slide"><img src="../../images/common/swiper1.jpg" alt="1"></div>
        </figure>
      </div>
      <div class="item">
        <figure class="image">
            <div class="swiper-slide"><img src="../../images/common/swiper1.jpg" alt="1"></div>
        </figure>
      </div>
      <div class="item">
        <figure class="image">
            <div class="swiper-slide"><img src="../../images/common/swiper1.jpg" alt="1"></div>
        </figure>
      </div>
      
    </div>
  </div>