<div class="p-top-about">
  <!-- <%- include('./_c-section-title.ejs', {title:'企業概要'}) %> -->
  <div class="p-top-about__wrap">
    <picture class="p-top-about__picture">
      <source
        class="p-top-about__source"
        srcset="../../images/common/top-about_pc.jpg"
        media="(min-width: 756px)"
      />
      <!-- 756px以上で表示する画像 -->
      <img
        class="p-top-about__img"
        src="../../images/common/top-about_sp.jpg"
        alt="建物内のオフィスと廊下の画像"
        title="企業概要"
      /><!-- 756px以下で表示する画像 -->
    </picture>
    <div class="p-top-about__body">
      <p class="p-top-about__body-title">メインタイトルが入ります</p>
      <p class="p-top-about__body-text">
        テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
      </p>
      <div class="p-top-about__btn">
        <%- include('./_c-btn.ejs' ,{link:'./about.html', text:'詳しく見る'}) %>
      </div>
    </div>
  </div>
</div>
