<div class="c-works__item">
  <span class="c-works__category"><%= category %></span>
  <figure class="c-works__img">
    <img src="../../images/common/<%= img %>" />
  </figure>
  <div class="c-works__name"><%= name %></div>
</div>
