<div class="c-works-item">
  <span class="c-works-item__category"><%= category %></span>
  <figure class="c-works-item__img">
    <img src="../../images/common/<%= img %>" />
  </figure>
  <div class="c-works-item__name"><%= name %></div>
</div>
