<div class="c-works-detail-point">
    <div class="c-works-detail-point__title"><%= title %></div>
    <p class="c-works-detail-point__text">テキストが入ります。テキストが入ります。テキストが入ります。
      テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
      テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
    </p>
  </div>