<div class="contact-section">

  <div class="contact-section__wrap">

    <div class="contact-section__contents">

      <div class="contact-section__img">
        <img src="../../images/common/contact_section.png" alt="">
      </div>

      <div class="contact-section__heading">
        <h3 class="contact-section__title">お問い合わせ</h3>
      </div>

    </div>
    <p class="contact-section__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>

    <div class="contact-section__btn">
      <a class="contact-section__btn-link" href="">お問い合わせへ</a>
    </div>
  </div>

</div>