<div class="l-cards">

  <div class="p-cards">

    <div class="p-cards__img">
      <img src="/src/images/common/blog_1.jpg" alt="">
    </div>

    <div class="p-cards__contents">

      <div class="p-cards__body">
        <p class="p-cards__title">タイトルが入ります。タイトルが入ります。</p>
        <p class="p-cards__text">説明文が入ります。説明文が入ります。説明文が入ります。</p>
      </div>

      <div class="p-card__item">
        <span class="p-cards__category">カテゴリ</span>
        <time class="p-card__time" datetime="2021.07.20">2021.07.20</time>
      </div>

    </div>

  </div>

</div>


