<div class="p-contact-section">

  <div class="p-contact-section__wrap">

    <div class="p-contact-section__contents">

      <div class="p-contact-section__img">
        <img src="../../images/common/contact_section.png" alt="">
      </div>

      <div class="p-contact-section__heading">
        <h3 class="p-contact-section__title">お問い合わせ</h3>
      </div>

    </div>
    <p class="p-contact-section__text">テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>

    <div class="p-contact-section__btn">
      <a class="p-contact-section__btn-link" href="">
        <span class="btn-text">お問い合わせへ</span>
        <span class="btn-hover">詳しく見る</span>
      </a>

    </div>
  </div>

</div>