<div class="p-news-infomation">
  <div class="c-news-DateCat">
    <p class="c-news-DateCat__date">2020.07.20 </p>
    <span class="c-news-DateCat__category">カテゴリ2 </span>
  </div>
  <p class="c-news-information"><a href="#">記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。記事タイトルが入ります。</a></p>
</div>
