<div class="l-top-blog__items p-top-blog__items p-top-blog-items">
  <div class="p-top-blog__item p-blog__item--new" data-group="1">
    <%-include('./_c-blog-item',
    {category:'カテゴリ１',img:'blog_1.jpg',name:"CodeUps株式会社"}) %>
  </div>

  <div class="p-top-blog__item" data-group="1">
    <%-include('./_c-blog-item',
    {category:'カテゴリ１',img:'blog_2.jpg',name:"CodeUps株式会社"}) %>
  </div>

  <div class="p-top-blog__item" data-group="2">
    <%-include('./_c-blog-item',
    {category:'カテゴリ２',img:'blog_3.jpg',name:"CodeUps株式会社"}) %>
  </div>
</div>
