<div class="p-top-work">
  <div class="p-top-work__wrap c-top-work">
    <div class="p-top-work__inner">
      <div class="p-top-work__slider swiper">
        <div class="c-top-work__slider swiper-wrapper">
          <img
            class="swiper-slide"
            src="../../images/common/top-slider1.jpg"
            alt="机に置いてあるiMacの画像"
            title="制作実績"
          />
          <img
            class="swiper-slide"
            src="../../images/common/top-slider2.jpg"
            alt="机に置いてあるMac bookの画像"
            title="制作実績"
          />
          <img
            class="swiper-slide"
            src="../../images/common/top-slider3.jpg"
            alt="机に置いてあるMac book、スマホ、マウス、観葉植物の画像"
            title="制作実績"
          />
        </div>
      </div>
      <div class="swiper-pagination p-top-work__pagination"></div>
    </div>
    <div class="p-top-work__body">
      <p class="p-top-work__body-title">メインタイトルが入ります</p>
      <p class="p-top-work__body-text">
        テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
      </p>
      <div class="p-top-work__btn">
        <%- include('./_c-btn.ejs' ,{link:'./works.html', text:'詳しく見る'}) %>
      </div>
    </div>
  </div>
</div>
