<div class="p-top-work">
  <div class="p-top-work__wrap c-top-work">
    <div class="p-top-work__slider swiper">
      <div class="c-top-work__slider swiper-wrapper">
        <img
          class="swiper-slide"
          src="../../images/common/top-slider1.jpg"
          alt="slider"
        />
        <img
          class="swiper-slide"
          src="../../images/common/top-slider2.jpg"
          alt="slider"
        />
        <img
          class="swiper-slide"
          src="../../images/common/top-slider3.jpg"
          alt="slider"
        />
      </div>
    </div>
    <div class="swiper-pagination p-top-work__pagination"></div>
    <div class="c-top-about__body">
      <p class="c-top-about-body__title">メインタイトルが入ります</p>
      <p class="c-top-about-body__text">
        テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
      </p>
      <div class="c-top-about-body__btn">
        <%- include('./_c-btn.ejs' ,{link:'#', text:'詳しく見る'}) %>
      </div>
    </div>
  </div>
</div>
