<div class="p-top-work">
    <div class="p-top-work__wrap c-top-work">
        <div class="c-top-work__slider">
            <img src="../../images/common/top-slider1.jpg" alt="slider">
            <!-- <img src="../../images/common/top-slider1.jpg" alt="slider">
            <img src="../../images/common/top-slider1.jpg" alt="slider"> -->
        </div>

        <div class="c-top-work__text">
            <div class="c-top-work__title">
                <h3>メインタイトルが入ります。</h3>
            </div>
            <div class="c-top-work__body">
                <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                    テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
                    テキストが入ります。テキストが入ります。
                </p>
            </div>
            <div class="p-contact-section__btn">
                <a class="p-contact-section__btn-link" href="">
                  <span class="btn-text">詳しく見る</span>
                </a>
            </div>
        </div>
    </div>
</div>