<div class="c-article-card">
    <div class="c-article-card__img">
        <img src="../../images/common/blog_1.jpg" alt="">
    </div>

    <div class="c-article-card__contents">
        <div class="c-article-card__body">
            <p class="c-article-card__title">タイトルが入ります。タイトルが入ります。</p>
            <p class="c-article-card__text">説明文が入ります。説明文が入ります。説明文が入ります。</p>
        </div>
        <div class="c-article-card__item p-card__item">
            <span class="c-article-card__category">カテゴリ</span>
            <time class="c-article-card__time" datetime="2021.07.20">2021.07.20</time>
        </div>
    </div> 
</div>