<div class="p-work-detail__points">
    <div class="c-work-detail__point--title"><%= title %></div>
    <p class="c-work-detail__point--text">テキストが入ります。テキストが入ります。テキストが入ります。
      テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
      テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。
    </p>
  </div>