<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <%- include('./common/_header') %>

      <section class="l-404 sublayer p-404">
        <h2 class="c-404__title">404 Not Found</h2>
        <p class="c-404__text">お探しのページは見つかりませんでした。</p>
        <a href="\" class="c-btn">TOPへ</a>
      </section>

    <%- include('./common/_footer') %>

  </body>
</html>