<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <%- include('./common/_header') %>

    <!-- パンくずが入る -->
    <div class="p-blog-detail">
      <div class="c-blog-head">
        <div class="c-blog-head__title l-inner">
          <h2>タイトルが入ります。タイトルが入ります。タイトルが入ります。タイトルが入ります。</h2>
        </div>
        
        <!-- 日付とカテゴリのパーツを入れる -->

        <div class="c-blog-eyeCatch">
          <img src="../images/common/blog-eyecatch_pc.jpg" alt="eyecatch" class="pc-only">
          <img src="../images/common/blog-eyecatch_sp.jpg" alt="eyecatch" class="sp-only">
        </div>

        <div class="c-blog-head__body l-inner">
          <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
        </div>
      </div>

      <div class="c-blog-body">
        <div class="c-blog-body__title l-inner">
          <h3>見出し2</h3>
          <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
        </div>
        
        <div class="c-blog-body__subtitle l-inner">
          <h3>見出し3 見出し3 見出し3 見出し3</h3>
          <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
        </div>

        <div class="c-blog-eyeCatch">
          <img src="../images/common/blog-image_pc.jpg" alt="blogimage" class="pc-only">
          <img src="../images/common/blog-image_sp.jpg" alt="blogimage" class="sp-only">
        </div>

        <div class="blog-body__body l-inner">
          <ul>
            <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
            <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
            <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
            <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
          </ul>
          <ul>
            <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
            <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
            <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
            <li>リストが入ります。リストが入ります。リストが入ります。リストが入ります。</li>
          </ul>
        </div>

      </div>
        
      <%- include('./parts/_c-pagination') %>
        
    </div>


    <%- include('./common/_footer') %>

  </body>
</html>
