<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <%- include('./common/_header') %>
      <section class="l-business sublayer">
        <%- include('./parts/_c-subFV', {pageTitle:'事業内容'}) %>
      </section>

    <%- include('./common/_footer') %>

  </body>
</html>
