<!DOCTYPE html>
<html lang="ja">
<%- include('./common/_head') %>
<body>
    <%- include('./common/_header') %>
    <section class="l-business sublayer p-confirm">
        <div class="p-confirm__wrap">
            <p class="p-confirm-wrap__title">お問い合わせ完了</p>
            <p class="p-confirm-wrap__text">3営業日以内に<br>返信させて頂きます。</p>
            <div class="p-confirm-wrap__btn">
                <%- include('./parts/_c-btn.ejs',{link:'#',text:'TOPへ'}) %>
            </div>
        </div>
    </section>
    <%- include('./common/_footer') %>

</body>
</html>