<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>
  <body>
    <div style="background-color: #000" class="bg">
      <%- include('./common/_header') %> <%- include('./parts/_p-works__items')
      %> <%- include('./common/_footer') %>
    </div>
  </body>
</html>
