<!DOCTYPE html>
<html lang="ja">
  <%- include('./common/_head') %>

  <body>
    <div style="background-color: #000" class="bg">
      <%- include('./common/_header') %>
      <div class="l-top p-top"><%- include('./parts/_p-mv') %></div>
      <%- include('./common/_footer') %>
    </div>
  </body>
</html>
