.l-contact-form {
  width: 100%;
  margin: rem(39) auto 0;

  @include mq(pc) {
    margin-top: rem(74);
  }
}

.l-content-form-btn {
  padding: rem(43) rem(20) rem(48);
  text-align: center;

  @include mq(pc) {
    padding: rem(36) rem(20) rem(48) rem(168);
  }
}
