.l-top-information {
  margin-top: rem(24);
  margin-right: rem(19);
  margin-left: rem(20);

  @include mq() {
    margin-top: rem(33);
  }
}

.l-top-information__btn {
  margin-top: rem(28);
  margin-left: rem(1);
  text-align: center;

  @include mq() {
    display: none;
  }
}
