.l-works__item-wrap:not(:first-of-type) {
  margin-top: rem(24);
  @include mq() {
    margin-top: 0;
  }
}

.l-works__item-wrap:nth-of-type(odd) {
  @include mq() {
    margin-right: rem(48);
  }
}

.l-works__item-wrap:nth-of-type(n + 3) {
  @include mq() {
    margin-top: rem(104);
  }
}
